body{

	font-size: 100%;
  	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
	color: #444444;
}

h2{
	font-size: 85%;
}

h3{

	font-family: 'Encode Sans Condensed', sans-serif;

}

#content{
	width: 600px;
	background-image: 	url("https://image.freepik.com/free-vector/bright-background-with-dots_1055-3132.jpg");
	background-repeat: repeat-y;


}

#footer{
	font-size: 70%;
	text-align: center;

}

li{
	list-style-type: none;
	padding-top:  20px;
}

